* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 140px;
}

body {
    margin: 0px
}

#img {
    text-align: center;
    margin-top: 15%;
}

.in-sesion {
    font-size: 190%;
    text-align: center;
}

#useremail {
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#password {
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#checkbox {
    margin-left: 10%
}

#button {
    height: 40px;
    width: 80%;
    margin-left: 10%;

    background-color: rgb(93, 174, 240);
    border-color: rgb(93, 174, 240);
    color: white;
    transition: transform 0.4s cubic-bezier(0.79, 1.33, 0.24, 0.36);
}

#button:hover {
    transform: translateY(4px);
    background-color: red;
    /*transform: scale(1.3);*/
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: rgb(93, 174, 240);
}

#img-header {
    display: flex;
    max-height: 14vh;
    width: 70%;
    object-fit: fill;
    margin-left: 20%;
}

#section-page2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    height: 86vh;
}

#page2 {
    background: linear-gradient(to right, rgb(94, 94, 235), pink, purple);
}

#registro {
    font-size: 170%;
    margin-top: 10%;

}

#name {
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#identificacion {
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#cellphone {
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#ciudades {
    height: 40px;
    width: 82%;
    margin-left: 10%;
}

#text {
    font-size: 110%;
    width: 80%;
    margin-left: 10%;
}

h2 {
    text-align: center;
    font-size: 190%;
}

p {
    text-align: center;
    font-size: 170%;
}

#cerrar-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

#butt {
    height: 80px;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    border-color: grey;
    color: black;
    border-radius: 10px;
    margin-top: 25px;
}

.tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.tarjeta1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    width: 40vh;
}

.tarjeta1 button {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 0px 0px 6px 3px gray;
    background-color: white;
    border-radius: 10px;
}

.tarjeta1 img {
    object-fit: contain;
    width: 20%;
}

.flecha-tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2vh;
    font-size: 0.5rem;
}

.tarjeta1 a {
    text-decoration: none;
}

#origin, #destiny, #f-start, #f-end{
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#text3{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15px;
}

#recuadro{
    border: 2px solid grey;
    box-shadow: 0px 0px 5px 3px grey;
    width: 90%;
    margin-left: 5%;
}


.profile-icon {
    width: 40px;
    height: 40px;
    margin-left:3%;
    margin-top: 2%;
}

#check{
    margin-top: 1%;
}

.names{
    font-family: ;
}

.logout{
    font-size: ;
}

#cabecera {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#marca {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

#registros{
    margin-top: 3%;
}

#tarjetass {
    padding: 2vh;
}

#tarjeta{
    width: 47vh;
}

#tarjetaa{
    padding: 1.2vh;
}
