img{
    width: 140px;
}

body{
    margin:0px
}

#img{
    text-align: center;
    margin-top: 15%;
}

.in-sesion{
    font-size: 190%;
    text-align: center;
}

#useremail{
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#password{
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#checkbox{
    margin-left: 10%
}

#button{
    height: 40px;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(93, 174, 240);
    border-color: rgb(93, 174, 240);
    color: white;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    color: rgb(93, 174, 240);
}

#img-header{
    display: flex;
    max-height: 18vh;
    width: 70%;
    object-fit:fill;
    margin-left: 20%;
}

#section-page2{
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    background-color: white;
    height: 85vh;
}

#page2{
    background: linear-gradient(to right, rgb(94, 94, 235), pink, purple);
}

#registro{
    font-size: 180%;
    margin-top: 10%;

}

#name{
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#identificacion{
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#cellphone{
    height: 40px;
    width: 80%;
    margin-left: 10%;
}

#ciudades{
    height: 40px;
    width: 82%;
    margin-left: 10%;
}

#text{
    font-size: 110%;
    width: 80%;
    margin-left: 10%;
}










