<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelos Disponibles</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body id="page2">
    <div class="advertencia">
        <h2>Uppps Este Dispositivo No Es Compatible</h2>
        <p>Querido usuario le queremos avisar que por motivos de copyright no es compatible con esta página</p>
    </div>
    <main>
        <nav>
            <img src="../img/logofly.png" alt="Logo" id="img-header">
        </nav>
        <section id="section-page2">
            <section id="cabecera">
                <img src="../img/logo-user.png" alt="logo user" class="profile-icon">
                <div id="marca">
                    <span class="names">  Juan Gualdron</span>
                    <span><a href="./logout.html" class="logout">Cerrar_sesión</a></span>
                </div>
            </section>
            <br>
            <hr>
            <div>
                <p id="registros">Vuelos Disponibles</p>
            </div>
            <br>
            <div id="text3">
                <span>Bògota - Barranquilla</span>
                <span>Septiembre - 29</span>
            </div>
            <br>
            <div class="tarjetas" id="tarjetass">
                <div class="tarjeta1">
                    <button type="submit">
                        <img src="../img/Logo-Avion.png" alt="logo1">
                        <div class="flecha-tarjeta">
                            <p>05:30 - 06:30 <br> 1h 30min</p>
                            <p>VA.A025 <br> cop 150.600</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="tarjetas" id="tarjetass">
                <div class="tarjeta1">
                    <button type="submit">
                        <img src="../img/Logo-Avion.png" alt="logo1">
                        <div class="flecha-tarjeta">
                            <p>10:30 - 12:05 <br> 1h 30min</p>
                            <div>
                                <p>VA.A412 <br>cop 260.050</p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="tarjetas" id="tarjetass">
                <div class="tarjeta1">
                    <button type="submit">
                        <img src="../img/Logo-Avion.png" alt="logo1">
                        <div class="flecha-tarjeta">
                            <p>14:15 - 15:45 <br> 1h 30min</p>
                            <p>VA.A836 <br> cop 150.600</p>
                        </div>
                    </button>
                </div>
            </div>
            <form action="./main-menu.html">
                <button type="submit" id="button">VOLVER</button>
            </form>
        </section>
</body>
</html>