<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre de sesion</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body id="page2">
    <div class="advertencia">
        <h2>Uppps Este Dispositivo No Es Compatible</h2>
        <p>Querido usuario le queremos avisar que por motivos de copyright no es compatible con esta página</p>
    </div>
    <main>
        <nav>
            <img src="../img/logofly.png" alt="Logo" id="img-header">
        </nav>
        <section id="section-page2">
            <br>
            <p id="registro">Cierre De Sesión</p>
            <br>
            <hr>
            <br>
            <p>Usted ha cerrado sesion exitósamente, gracias por haber vivido esta experiencia con nosotros. <br><br> Si desea volver ingrese aqui: <br><hr></p>
            <br>
            <form action="../index.html">
                <button type="submit" id="button">Volver Al Inicio</button>
            </form>
</body>
</html>